NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
ONEMAP_ACCESS_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxNDA2MCwiZm9yZXZlciI6ZmFsc2UsImlzcyI6Ik9uZU1hcCIsImlhdCI6MTc3ODk5MzI5OSwibmJmIjoxNzc4OTkzMjk5LCJleHAiOjE3NzkyNTI0OTksImp0aSI6IjFiYWEyYjUyLTQzZTAtNGFiYS05MTFiLWQ5MmY3M2ZmYjYwOCJ9.EK03_DVIl5u8i30SjNC6WHMhz1NPa8pzeq_SRGYQ9THW-UpbbNKtnYsSCy0JRXwjSDNaj3hApr69OjR7U4dAMp2zUAk9NJkxafL6BEbKLr6j6AB9ZbRsN_PujgpX-heKhgqkuIcL5iW8bZQSKIGHbe_7yE_yavnDObBSr5a84s07aSXpOCdWL5SFBYLNg0nuGwPkQ1TMFk1ip2NeTIKA2Bc0VIZFn0ZRV8JQajLHRpAmCRUnMSQqpmxRxeOID0UJH9P33N7GjGlQZG_YYjZ7YKbK7QOwngYTR1DRCx0boSqJf61nU8hH0g6h1CLK4V_Yayjb6pbThbdk1rxWGUMUvQ